@page "/"
@using Daltonsbaker.Com.Components

<div class="page">
    <Intro />
    <HeartlandTanks />
    <DakotahsTaxes />
    <MetalsDisplay />
    <GitRepos />
</div>

<div class="scroll-notify d-flex flex-column align-center">
    @* <i class="fas fa-mouse scroll-icon"></i> *@
    <i class="fas fa-angle-double-down scroll-icon"></i>
</div>