@page "/"

<div class="page">
    <Intro />
    <GitRepos />
    <MetalsDisplay />
    <DakotahsTaxes />

    <div class="scroll-notify d-flex flex-column align-center">
        <i class="fas fa-mouse scroll-icon"></i>
        <i class="fas fa-angle-double-down scroll-icon"></i>
    </div>
</div>