@page "/"

<h1>Hello!</h1>

<div>
    I am in the process of redesigning this website. Please excuse the mess.
</div>

<div>
    If you want to see some of my code here are some links:

    <MatButtonLink Href="https://github.com/dalton-baker">
        <i class="fa fa-github"></i> &nbsp; Github
    </MatButtonLink>

    <MatButtonLink Href="https://gitlab.com/dalton_baker">
        <i class="fa fa-gitlab"></i> &nbsp; Gitlab
    </MatButtonLink>
</div>

<div>
    If you want to contact me, here are some more links:

    <MatButtonLink Href="mailto: dalton.s.baker@gmail.com">
        <i class="fa fa-google"></i> &nbsp; Gmail
    </MatButtonLink>

    <MatButtonLink Href="https://www.linkedin.com/in/dalton-baker/">
        <i class="fa fa-linkedin"></i> &nbsp; LinkdIn
    </MatButtonLink>
</div>

<div>
    Here are some websites I made and am working on:

    <MatButtonLink Href="https://metalsmarketdisplay.com">
        <i class="fa fa-line-chart"></i> &nbsp; metalsmarketdisplay.com
    </MatButtonLink>

    <MatButtonLink Href="https://dakotahstaxes.com/">
        <i class="fa fa-building"></i> &nbsp; dakotahstaxes.com
    </MatButtonLink>
</div>