@page "/privacypolicy"

<style>
    body {
        background-color: #282828;
        color: white;
    }
</style>

<div class="p-3 d-flex flex-column justify-content-center align-items-center" style="height: 30vh;">
    <h3>What information do I collect from people using my apps?</h3>
    <ul>
        <li>
            Nothing, absolutely nothing.
        </li>
    </ul>
</div>
