.page {
    position: relative;
    height: 100vh;
    scroll-margin: 10px;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

    .page::-webkit-scrollbar {
        display: none;
    }
