<div class="background-image d-flex justify-center align-center sticky-top">
    <div class="translucent-card">
        <h2>Dakotah's Taxes</h2>
        <h5>I created this website for a tax bookkeeping business in Pennsylvania.</h5>
        <h5>It is written in C# and Blazor and deployed automatically with Github Actions.</h5>
        <h5>MudBlazor was used as a component library for this website.</h5>
        
        <a class="btn btn-primary" 
           target="_blank" 
           href="https://dakotahstaxes.com/">
            <i class="fas fa-building pe-1"></i> dakotahstaxes.com
        </a>
    </div>
</div>
