<div class="background-image d-flex justify-center align-center sticky-top">
    <div class="translucent-card">
        <h2>Git Repos</h2>
        <h5>Gitlab contains my school work and Github contains personal projects</h5>

        <a class="btn btn-primary"
           target="_blank"
           href="https://github.com/dalton-baker">
            <i class="fab fa-github pe-1"></i> GitHub
        </a>

        <a class="btn btn-primary"
           target="_blank"
           href="https://gitlab.com/dalton_baker">
            <i class="fab fa-gitlab pe-1"></i> GitLab
        </a>
    </div>
</div>

