<div class="background-image d-flex justify-center align-center sticky-top">
    <div class="translucent-card">
        <h2>Heartland Tanks</h2>
        <h5>I created this website for a tire tank business in Mitchell, SD.</h5>
        <h5>It is written in C# and Blazor and deployed automatically with Github Actions.</h5>
        <h5>This project uses bootstrap and custom CSS for layout.</h5>

        <a class="btn btn-primary"
           target="_blank"
           href="https://heartlandtanks.com/">
            <i class="fas fa-building pe-1"></i> heartlandtanks.com
        </a>
    </div>
</div>

