<div class="background-image d-flex justify-center align-center sticky-top" style="z-index: 0;">
    <div class="translucent-card">
        <h2 style="display: inline;">Dalton Baker</h2>
        <h5>dalton.s.baker@gmail.com</h5>

        <a class="btn btn-primary"
           target="_blank"
           href="https://www.linkedin.com/in/dalton-baker/">
            <i class="fab fa-linkedin pe-1"></i> LinkedIn
        </a>

        <a class="btn btn-primary"
           target="_blank"
           href="/DaltonBakerResume.pdf">
            <i class="fas fa-file-pdf pe-1"></i> Resume
        </a>

        <div>
            <img src="/badges/dotnet.svg" class="icon-badge" />
            <img src="/badges/csharp.svg" class="icon-badge" />
            <img src="/badges/blazor.png" class="icon-badge" />
            <img src="/badges/azure.svg" class="icon-badge" />
            <img src="/badges/git.svg" class="icon-badge" />
            <img src="/badges/cpp.svg" class="icon-badge" />
            <img src="/badges/css.svg" class="icon-badge" />
        </div>
    </div>
    <div class="disclaimer">
        The Azure logo is a trademark of the Microsoft group of companies. © 2021
    </div>
</div>
