.background-image {
    background-image: url('images/home-background.jpg');
}

.icon-badge{
    height: 35px;
    margin: 2px;
    margin-top: 10px;
}

.disclaimer {
    position: absolute;
    bottom: 5px;
    color: lightgrey;
    text-align: center;
    font-size: 11px;
}
