<div class="background-image d-flex justify-center align-center sticky-top">
    <div class="translucent-card">
        <h2>Metals Market Display</h2>
        <h5>I created this website to display market data in a clean, easy to read UI.</h5>
        <h5>It was primarily made for a coin shop in Rapid City, SD.</h5>
        <h5>This project includes a php API used to update pricing data.</h5>

        <a class="btn btn-primary"
           target="_blank"
           href="https://metalsmarketdisplay.com">
            <i class="fas fa-chart-line pe-1"></i> metalsmarketdisplay.com
        </a>
    </div>
</div>
