<div class="background-image">
</div>

<a href="https://dakotahstaxes.com/">
    <div class="link">
        <h1>Dakotah's Bookkeeping & Taxes</h1>
        <h5>I created this website for a tax bookkeeping business in Pennsylvania.</h5>
        <h5>It is written in C# and Blazor and deployed with Github Actions. I am using MudBlazor as a component library for this website.</h5>
        <img src="https://github.com/dalton-baker/dakotahstaxes.com-blazor/actions/workflows/main-cicd.yml/badge.svg" />
        <img src="https://github.com/dalton-baker/dakotahstaxes.com-blazor/actions/workflows/dev-ci.yml/badge.svg" />
    </div>
</a>
