<div class="background-image">
</div>


<a href="https://gitlab.com/dalton_baker">
    <div class="link">
        <h1>Check out my Gitlab</h1>
        <h5>I use this mostly for school projects. There are some older personal projects here as well.</h5>
    </div>
</a>
