<div class="background-image d-flex justify-center align-center">
    <div class="translucent-card">
        <h2>Git Repos</h2>
        <h5>GItlab contains my school work and Github contains personal projects</h5>

        <MudButton Variant="Variant.Filled" Color="Color.Primary" 
                   Link="https://github.com/dalton-baker"
                   Target="_blank"
                   StartIcon="@Icons.Custom.Brands.GitHub">
            GitHub
        </MudButton>

        <MudButton Variant="Variant.Filled" Color="Color.Primary" 
                   Link="https://gitlab.com/dalton_baker"
                   Target="_blank"
                   StartIcon="fab fa-gitlab">
            GitLab
        </MudButton>
    </div>
</div>

