<div class="background-image d-flex justify-center align-center">
    <div class="translucent-card">
        <div class="d-flex flex-row justify-center align-center">
            <h2 style="display: inline;">Dalton Baker</h2>
            <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn"
                           Link="https://www.linkedin.com/in/dalton-baker/"
                           Size="Size.Large"
                           Style="color: #0072b1" />
        </div>

        <h5>dalton.s.baker@gmail.com</h5>

        <div>
            <img src="/badges/dotnet.svg" class="icon-badge" />
            <img src="/badges/csharp.svg" class="icon-badge" />
            <img src="/badges/blazor.svg" class="icon-badge" />
            <img src="/badges/azure.svg" class="icon-badge" />
            <img src="/badges/git.svg" class="icon-badge" />
            <img src="/badges/cpp.svg" class="icon-badge" />
            <img src="/badges/css.svg" class="icon-badge" />
        </div>
    </div>
    <div style="position: absolute; bottom: 5px; color: lightgrey">
        The Azure logo is a trademark of the Microsoft group of companies. © 2021
    </div>
</div>

