<div class="background-image mx-auto my-auto">
    <div class="d-flex flex-column justify-center align-center" style="height: 100%">
        <div class="translucent-card">
            <h3>Dalton Baker</h3>
            <h5>dalton.s.baker@gmail.com</h5>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="https://www.linkedin.com/in/dalton-baker/" StartIcon="@Icons.Custom.Brands.LinkedIn">
                LinkdIn
            </MudButton>
        </div>
    </div>
</div>

