<div class="background-image d-flex justify-center align-center">
    <div class="translucent-card">
        <h3>Dalton Baker</h3>
        <h5>dalton.s.baker@gmail.com</h5>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="https://www.linkedin.com/in/dalton-baker/" StartIcon="@Icons.Custom.Brands.LinkedIn">
            LinkdIn
        </MudButton>
    </div>
</div>

