<div class="background-image d-flex justify-center align-center">
    <div class="translucent-card">
        <h3>Dalton Baker</h3>

        <h5>dalton.s.baker@gmail.com</h5>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Link="https://www.linkedin.com/in/dalton-baker/" StartIcon="@Icons.Custom.Brands.LinkedIn">
            LinkdIn
        </MudButton>

        <div>
            <img src="/badges/dotnet.svg" class="icon-badge" />
            <img src="/badges/csharp.svg" class="icon-badge" />
            <img src="/badges/blazor.svg" class="icon-badge" />
            <img src="/badges/azure.svg" class="icon-badge" />
            <img src="/badges/git.svg" class="icon-badge" />
            <img src="/badges/cpp.svg" class="icon-badge" />
            <img src="/badges/css.svg" class="icon-badge" />
        </div>
    </div>
    <div style="position: absolute; bottom: 5px; color: lightgrey">
        The Azure logo is a trademark of the Microsoft group of companies. © 2021
    </div>
</div>

