<div class="background-image">
</div>

<a href="https://metalsmarketdisplay.com">
    <div class="link">
        <h1>Metals Market Display</h1>
        <h5>I created this website to display market data in a clean, easy to read ui. I made this for coin and pawn shops
        initially, but moved to making a nice mobile interface as well. The server scrapes the web and updates the prices in 5 minute intervals.</h5>
        <h5>Currently this site is written in php, but I am in the process of rewriting it in Blazor.</h5>
    </div>
</a>
