<div class="background-image d-flex justify-center align-center">
    <div class="translucent-card">
        <h2>Metals Market Display</h2>
        <h5>
            I created this website to display market data in a clean, easy to read ui. I made this for coin and pawn shops
            initially, but moved to making a nice mobile interface as well. The server scrapes the web and updates the prices in 5 minute intervals.
        </h5>
        <h5>Currently this site is written in php, but I am in the process of rewriting it in Blazor.</h5>

        <MudButton Variant="Variant.Filled" Color="Color.Primary" 
                   Link="https://metalsmarketdisplay.com" 
                   Target="_blank"
                   StartIcon="@Icons.Material.Filled.ShowChart">
            metalsmarketdisplay.com
        </MudButton>
    </div>
</div>
